*{
    margin: 0;
    padding:0;

}


body{
    font-family: 'Caveat', cursive;
    font-family: 'Work Sans', sans-serif;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}



ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}


a{
    color:currentColor;
    text-decoration: none;
}


.navbar{
    height: 100px;
    width: 100%;
    background: black;
    color: white;
}

.nav_container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


header{
    padding:1em;
    background: #9fafab;
    margin-bottom: 3em ;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

.para{
    margin: 2rem;
    padding:2rem;
}

.logo{
    padding-top: 3rem;
}


.dropdown{
    position: absolute;
    opacity: 0;
    width: 500px;
    z-index: 2;
    background: blue;
    border-top: 2px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top:2rem;
    padding:0.5rem;


    box-shadow: rgb(52, 43, 43) 0px 0.175em 0.5em;
    transform: translate(-40%);

    transition: opacity .15s ease-out;

}



.has-dropdown:focus-within .dropdown{
    opacity:1;
    pointer-events: auto;
}



.dropdown-item a{
    width:100%;
    height: 100%;

    size:12px;
    padding-left: 10px;
    font-weight: bold;

}


/* creating a circle beside each theme name, showing the colors and to select that */

/* one of the way of creating is to */


.dropdown-item a::before{
    content:' ';
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

}




/* Themes */

/* the root has the  static things that dont change. Things like color, const, etc */
:root{

    --gray0:    #ffffff;
    --gray1:	#bebcbc;
    --gray2: #909090;
    --gray3: #615e5e;
    --gray4: #484242;
    --gray5: 	#2a2727;
    --gray6: #000000;
    --blue: #0000ff;

    --purple: #800080;
    --yellow: #FFFF00;
}


.light{
    --bg:var(--gray0);
    --bg-nav:linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text:var(--gray6);
    --border-color:var(--blue);
    --bg-solar: var(--yellow);

}


.dark{
    --bg: var(--gray5);
    --bg-nav:linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown:var(--gray6);
    --text:var(--gray0);
    --border-color:var(--purple);
    --bg-solar: var(--purple);
}

.solar{
    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: whitesmoke;
    --gray3: #5ec72d;
    --gray4:#3ea565;
    --gray5:#005368;
    --gray6:#003d4c;
}






/* Rainbow effect on the logo */

@keyframes color-rotate{
    from{
        filter:hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}


.logo:hover{
    animation:color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}